@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Roboto:wght@300;400;500;700;900&display=swap');


h2.p{margin: 0;}
*{box-sizing: border-box; font-family: 'Noto Sans', sans-serif;
font-weight: 400;}
.ex-1{ width: 1045px; margin: 100px auto;
    border: 1px solid #f8f6f6fa;
    background-color: #f6f5f5;
    padding: 80px; ;
    text-align: center; white-space: pre-line;}

    


.ex-1 > h2{color: red;
    font-size: 36px;}
.ex-1 > p{font-size: 18px;
color: #424d59; margin: 30px 0 70px 0;}
.under{display: flex;
    justify-content: space-between;}
.under > p{width:283px;}
.under > p > img{width:100%; filter: grayscale(100%);}
.under > p > img:hover {filter: grayscale(0%);}
/* img:hover = 마우스 올려놓았을 때 */ 