@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Freestyle Script';
    src: url('FreestyleScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



html{ font-size: 30px;}  /* html=최상위 태그 */
*{font-family: 'Roboto', sans-serif;
    font-weight: 100;}   /* *=모든태그 */

    h1{font-size: 2rem;
        font-family: 'Freestyle Script';}
    p{ white-space: pre-line;
        line-height: 160%; font-size: 1rem;}  /*  vw=viewport width 
        1rem = html 전체 폰트사이즈 X 1  */

.ic-check{font-family: 'Material Symbols Outlined';
font-size: 3rem; color: blue;}

.f-1{width: 60%; margin: 100px auto;}
.ic-self{ font-family: 'Material Symbols Outlined';}
.self{ display:flex;
align-items: start;}
.self > span{
}